<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 20px">

  <div class="container">
    <div class="row">
      <div class="col">


        <div class="card" style="margin-bottom: 10px">
          <div class="card-body">
            <h2 class="card-subtitle mb-2 text-muted">
              <h2 style="font-size: 40px; font-family: Arial;margin: 10px"> {{ date2 }} </h2></h2>
            <h1 style="font-size: 150px; font-family: Arial;margin: 10px">
              {{ time }}
            </h1>
          </div>
        </div>


      </div>
      <div class="col">
        <div id="openweathermap-widget-15"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">

          <div *ngFor="let dummy of dummies">
            <div class="card" style="margin: 5px; float: left;width: 500px;min-height: 290px">
              <div class="card-body">
                <h1 class="card-title">{{dummy.title}}</h1>
                <h2 class="card-subtitle mb-2 text-muted">{{dummy.place}}</h2>
                <h2 class="card-subtitle mb-2 text-muted" style="font-size: 25px">{{dummy.subTitle}}</h2>
                <h2 class="card-subtitle mb-2 text-muted">{{dummy.formatedDate}}</h2>
                <p class="card-text" style="font-weight: bold; color: red;font-size: 40px">in {{ dummy.days}} Tagen</p>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="col">-->
        <!--</div>-->
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
